/* navbar */

.hero__img{
    width: 100%;
}
.site-header{
    position: absolute;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    padding: 8px 64px;
}
.header__inner{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 32px;
}
.brand{
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    background-image: var(--gradient-primary-60);
    opacity: 0.7;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 942px;
}
.nav ul li{
    list-style:none;
    text-decoration: none;
}
.nav ul li a{
    text-decoration: none;
    color: var(--text-strong);
    font-size: 16px;
}
.nav ul li .shop{
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* hero section */
.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../assets/img/hero.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.award__container{
    position: absolute;
    width: 100%;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:flex-start;
    gap: 20px;
    padding: 0px 64px;
}
.award__container .award__heading{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 27px;
}
.award__heading .award__chip{
    width: 356px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius:10000px;
    background-image: var(--gradient-primary-100);
    opacity: 0.6;
    color: var(--text-white);
    font-size: 16px;
    font-weight: 300;
}
.award__heading h1{
    font-size: 56px;
    font-weight: 700;
    color: var(--color-primary-900);
}
main .award__stats{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 24px;
}
.award__stats .award__info{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 12px;
}
.award__stats .award__info h2{
    font-size: 72px;
    font-weight: 700;
    opacity: 0.6;
    background-image: var(--gradient-primary-60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.award__stats .award__info h3{
    color: var(--color-primary-700);
    font-size: 22px;
    font-weight: 300;
}
.award__stats .col-1{
    width: 184px;
}
.award__stats .col-2{
    width: 157px;
}
.award__stats .col-3{
    width: 184px;
}
.award__container button{
    width: 186px;
}

/* product section */
main .product{
    padding: 92px 64px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 108px;
}
.product .product-gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50%;
}
.product-gallery__main{
    position: relative;
    flex-shrink: 0;
    width: 100%;
    /* height: 670px; */
    /* background-color: black; */
    border-radius: 16px;
}
.product-gallery__main-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 16px;
}
.controls{
    position: absolute;
    top: 92%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.data-gallery-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.gallery-dot{
    height: 8px;
    width: 8px;
    border-radius: 100%;
      border: 1px solid var(--color-primary-900); 
    background-color: transparent;
}
.gallery-dot.active {
  background: var(--color-primary-900);
  border-color: var(--color-primary-900);
}
.grid__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
}
.grid__container .grid__imgs{
    border-radius: 16px;
    
    height: 130px;
    width: 130px;
}

.product .product__desc{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.product__text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
}
.product__heading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 8px;
}
.product__heading h3{
    color: var(--color-primary-900);
    font-size: 36px;
    font-weight:600;
}
.product__rating{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 6px;
}
.product__rating p{
    font-size: 12px;
}
.product__desc .product__text p{
   color: var(--color-primary-900); 
   font-size: 16px;
   font-weight: 300;
   text-align: left;
}

.subscription__radio {
    width: 100%;
    border: 1px solid var(--color-muted);
    border-radius: 8px;
    padding: 12px;
}

.subscription__type {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* COLLAPSIBLE BODY */
.subscription__body {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height .35s ease, opacity .25s ease;
}

.subscription__body.open {
    max-height: 2000px;
    opacity: 1;
}

.subscription__tag{
    background-image: var(--gradient-secondary);
    width: 100%;
    border: 8px;
    border-radius:8px 8px 0px 0px;
}
.subscription__tag h3{
    color: var(--text-white);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 8px;
}


.subscription__type{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   margin: 16px;
   padding-bottom: 12px;
   border-bottom: 1px solid #919798;
}
.subscription__text label{
    color: var(--color-primary-900);
    font-size: 20px;
    font-weight: 300;
    padding-left: 4px;
}
.cost span{
    color: var(--color-primary-900);
    font-size: 20px;
    font-weight: 700;
}
.choose_fragrance{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 8px;
    margin: 16px;
}

.choose_fragrance h3{
    color: var(--color-primary-900);
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}
.fragrance__options{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 12px;
}
.fragrance{
    padding: 12px;
    width: 33%;
    background-color: var(--color-secondary-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 6px;
}
.fragrance .heading label{
    padding-left: 4px;
    color: var(--gradient-primary-60);
    font-size: 12px;
    font-weight: 300;
}
.fragrance-img{
    margin-left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fragrance-img img{
    object-fit: contain;
}

.included{
    width: 9-0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
    margin: 16px;
}
.included h3{
    color: var(--color-primary-900);
    font-size: 16px;
    font-weight: 300;
}
.included .options{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.options .option-1{
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    background-color: transparent;
    border: 1px solid var(--text-muted-3);
    border-radius: 6px;
}
.options .option-2{
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 67%;
    background-color: transparent;
    border: 1px solid var(--text-muted-3);
    border-radius: 6px;
}
.options p{
    color: var(--text-muted-2);
    font-size: 16px;
    font-weight: 300;
}
.options span{
    color: var(--color-primary-900);
    font-size: 16px;
    font-weight: 700;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    margin: 16px;
    gap: 4px;
}
.product-info .points{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 4px;
}
.product-info .points p{
    color: var(--color-primary-900);
    font-size: 14px;
    font-weight: 300;
}
.product-info .points span{
    color: var(--color-primary-900);
    font-size: 14px;
    font-weight:700;
}
.product__desc button{
    width: 100%;
}

/* collection section */
.collection{
    padding: 92px 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 108px;
}
.collection .accordion{
    width: 55%;
}
.accordion h2{
    color: var(--color-primary-900);
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 36px;
}
#accordion-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.accordion-item{
    width: 100%;
    border: 1px solid var(--color-muted);
    border-radius: 16px;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}
.accordion-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20rem;
    align-items: center;
}
.accordion-header h3{
    color: var(--color-primary-900);
    font-size: 20px;
    font-weight: 700;
}
.accordion-header .accordion-toggle{
    color: var(--color-primary-900);
    font-size: 24px;
    font-weight: 700;
}
.accordion-body p{
    color: var(--text-muted-1);
    font-size: 16px;
    font-weight: 300;
    padding: 24px 0px;
}
/* COLLAPSED STATE */
.accordion-body {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height .35s ease, opacity .25s ease;
}

/* EXPANDED STATE */
.accordion-body.open {
    max-height: 300px; /* something large enough */
    opacity: 1;
}


.collection-img{
    width: 50%;
    height: 40rem;
    border-radius: 30px;
    background-image: url(../assets/img/collection.svg);
    object-fit: contain;
    background-repeat: no-repeat;
}
/* main .collection{
    width: 100%;
    height: 100vh;
    background-color: yellow;
    position: relative;
} */